{block title}
	Kontakty
{/block}

{block pageTitle}
	<h1>Kontakty</h1>
{/block}

{block breadcrumb}
	<ol class="breadcrumb float-sm-right">
		<li class="breadcrumb-item">
			<a n:href="Homepage:default">
				<i class="fas fa-tachometer-alt"></i>
			</a>
		</li>
		<li class="breadcrumb-item">
			<a n:href="Company:default">
				Firmy
			</a>
		</li>
		<li class="breadcrumb-item">
			<a n:href="Company:detail, id => $company->getId()">
				{$company->getName()}
			</a>
		</li>
		<li class="breadcrumb-item active">
			Kontakty
		</li>
	</ol>
{/block}

{block vueScripts}
	<script src="{$basePath}/cms/dist/js/vue/components.js"></script>
	<script src="{$basePath}/js/initVue.js"></script>
{/block}

{block content}
	<div class="container-fluid">

		{var $editContacts = $presenter->checkAccess('page__company__contactEdit')}

		<div class="row">
			<div class="col-12 mb-3 text-right">
				<a n:if="$companyStock !== null" n:href="detailStock, id => $companyStock->getId()"
						class="btn btn-sm btn-secondary">
					<i class="fas fa-reply"></i>&nbsp;{_cms.main.back}
				</a>
				<a n:if="$companyStock === null" n:href="detail, id => $company->getId()"
						class="btn btn-sm btn-secondary">
					<i class="fas fa-reply"></i>&nbsp;{_cms.main.back}
				</a>
				<a n:if="$companyStock !== null" n:href="contact, companyId => $company->getId()"
						class="btn btn-sm btn-info">
					<i class="fas fa-eye"></i>&nbsp;Zobrazit vše
				</a>
				<a n:if="$editContacts" n:href="createContact, companyId => $company->getId()"
						class="btn btn-sm btn-success">
					<i class="fas fa-plus"></i>&nbsp;Přidat
				</a>
			</div>
		</div>

		<div class="row">
			<div class="col-12">

				<!-- Default box -->
				<div class="card">
					<div class="card-header">
						<h3 class="card-title mt-1">Kontakty - {$company->getName()}</h3>
						<div class="card-tools">
							<div class="input-group input-group-sm" style="width: 200px;">
								<input type="text" data-js-search-input="" class="form-control float-right"
									   placeholder="Hledat">

								<div class="input-group-append">
									<button type="submit" class="btn btn-default"><i class="fas fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="card-body p-0">
						<table class="table table-hover">
							<thead>
							<tr>
								<th>Jméno</th>
								<th>Pobočka</th>
								<th>E-mail</th>
								<th>Telefon</th>
								<th>Poznámka</th>
								<th n:if="$editContacts"></th>
							</tr>
							</thead>
							<tbody>
							{if count($contactList) > 0}
								<tr n:foreach="$contactList as $contact"
										data-js-search="{$contact->getSearchString()}">
									<td>
										{$contact->getFirstName()}&nbsp;{$contact->getLastName()}
										<br>
										<small class="text-info">{$contact->getRole()}</small>
									</td>
									<td>
										{if $contact->getCompanyStock() !== null}
											<a n:href="detailStock, id => $contact->getCompanyStock()->getId()">
												{$contact->getCompanyStock()->getName()}
											</a>
										{/if}
										<br>
										<small>
											{if $contact->isSendInvoice()}
												<i class="fas fa-file-invoice mb-1" title="Fakturace"></i>&nbsp;
											{/if}
                                            {if $contact->isSendOffer()}
												<i class="fas fa-file-invoice-dollar mb-1 text-info"
												   title="Nabídky"></i>&nbsp;
											{/if}
                                            {if $contact->isSendOrder()}
												<i class="fas fa-receipt text-danger mb-1" title="Objednávky"></i>&nbsp;
											{/if}
                                            {if $contact->isSendMarketing()}
												<i class="fas fa-comment-dollar text-indigo mb-1"
												   title="Marketing"></i>&nbsp;
											{/if}
										</small>
									</td>
									<td class="align-middle">
										<a href="mailto:{$contact->getEmail()|trim}">{$contact->getEmail()}</a>
									</td>
									<td>
										<i class="fas fa-phone fa-fw"></i>&nbsp;
										<a href="tel:{$contact->getPhone() ?? ''|strip}">{$contact->getPhone()}</a>
										<br>
										<i class="fas fa-mobile fa-fw"></i>&nbsp;
										<a href="tel:{$contact->getMobilePhone() ?? ''|strip}">{$contact->getMobilePhone()}</a>
									</td>
									<td class="align-middle">{$contact->getNote()}</td>
									<td n:if="$editContacts" class="align-middle text-right" style="width: 190px;">
										<a n:href="editContact, id => $contact->getId()" class="btn btn-xs btn-info">
											<i class="fas fa-edit"></i> Upravit
										</a>
										<btn-delete
												redirect="{plink 'deleteContact!', 'id' => $contact->getId()}"></btn-delete>
									</td>
								</tr>
							{else}
								<tr>
									<td colspan="7" class="text-center">Žádné kontakty v seznamu</td>
								</tr>
							{/if}
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->

			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
{/block}

{block scripts}
	<script>
		$(document).ready(function () {
			$(document).on('keyup', '[data-js-search-input]', function () {
				let val = $(this).val();

				console.log(val);

				if (val === '') {
					$('[data-js-search]').each(function () {
						$(this).show();
					});
				} else {
					let regex = new RegExp('(.*)' + val + '(.*)', 'gi');

					$('[data-js-search]').each(function () {
						let companyData = $(this).attr('data-js-search');

						if (companyData.match(regex)) {
							$(this).show();
						} else {
							$(this).hide();
						}
					});
				}
			});
		});
	</script>
{/block}