<?php

declare(strict_types=1);


namespace App\AdminModule\Presenters;

/**
 * Class ExpensePresenter
 * @package App\AdminModule\Presenters
 */
class ExpensePresenter extends BaseAdminPresenter
{

}