<?php

declare(strict_types=1);


namespace App\AdminModule\Presenters;


/**
 * Class UserSignaturePresenter
 * @package App\AdminModule\Presenters
 */
class UserSignaturePresenter extends UserSignatureInnerPackagePresenter
{

}