<div n:if="$show === true" class="col-12">
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Faktury</h3>
		</div>
		<div class="card-body p-0">
			{control invoiceTable}
		</div>
	</div>
</div>